html{
  
  scroll-behavior: smooth;
  
}

*{
  
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3px;
  
}

/* body */
body{  
  
  font-family: sans-serif;
  line-height: 1.5;

}
a{
  color: black;
  text-decoration: none;
}

.container-hjem-side{
  width: 90%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sikrer at bildet dekker hele figuren */
  
}

/* Header */
.navigasjon{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 90%;
  align-items: baseline;
}

.navigasjon .nav-menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: baseline;
  a {
    text-decoration: none;
  }

#logo{
    
    font-size: 1.8rem;
    color: #0f0e0e;
    font-weight: bold;
    margin: 15px;
  }
  

}
.navigasjon .nav-iconer{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
  a {
    text-decoration: none;
    
    font-size: 1em;
  }
}
.nav-search-bar{
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  
   i{
   border-radius: 30px;
   position: absolute;
   right: 10px;
   top: 40%;
   transform: translateY(-50%);
   font-size: 1em;
   color: #321515;
   cursor: pointer;
  } 
}
.nav-search-bar input[type="search"]{
  padding: 5px;
  border: none;
   
}

/* main seksjoner */

/* Grunnstil for banner */
.banner {
  display: flex;
  overflow-x: auto;
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  
}
.banner-item {
  min-width: 100%;
  position: relative;
  
}

.banner-item img {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 20px;
}

/* Stil for bildetekst */
.banner-caption {
  position: absolute;
  bottom: 150px;
  text-align: right;
  right: 0;
  color: #fff;
  padding: 10px 20px;
  
}

.banner-caption .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white; /* Farge på knappen */
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}


/* Responsiv tilpasning */
@media (max-width: 768px) {

  
  .banner-caption {
    font-size: 0.9rem;
    padding: 5px 10px;
  }

  .banner-caption h2 {
    font-size: 1.2rem;
  }

  .banner-caption .button {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
}


/* Seksjon 2 */

.product-artikler{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 90%;

  p{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    
  }
  img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
  }
 
}
.product-card .rating{
  display: flex;
  align-items: baseline;
  
  li{
    
    display: flex;
    list-style: none;
    margin-left: 0;
  }
}
.beste-produkter-menu li{
  display: inline-flex;
  margin-right: 10px;
  flex-wrap: wrap;
  justify-content: center;
  
  border-radius: 10px;
  margin: 10px;

  a{
    text-decoration: none;
  }
  
}
.beste-produkter-header{
  text-align: center;
  
  a:hover{
    background-color: #0f0e0e;
    color: white;
    cursor: pointer;
    transition: 1s;
    
    
     
  }
  a{
    border: 1px solid rgb(98, 4, 4);
    border-radius: 20px;
    padding: 10px
  }

}

#beste-kategorier{
  padding: 30px 0 0 0;
}



.beste-kategorier-header{
  text-align: center;
  padding: 10px;
}

.kategorier-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  
}

.beste-kategorier-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  width: 900px; 
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .beste-kategorier-cards{
    display: flex;
    flex-direction: column;
  }
}


.beste-kategorier-cards img{
  width: 100%;
  opacity: 0.6;
  border-radius: 20px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.kategorier-grid-item-1 {
  grid-column: 1;
  grid-row: 1;
}

.kategorier-grid-item-2 {
  grid-column: 2;
  grid-row: 1;
}

.kategorier-grid-item-3 {
  grid-column: 3;
  grid-row: 1 / 3;
}

.kategorier-grid-item-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.kategorier-grid-item-5 {
  grid-column: 3;
  grid-row: 3;
}

.kategorier-grid-item-1,
.kategorier-grid-item-2,
.kategorier-grid-item-3,
.kategorier-grid-item-4,
.kategorier-grid-item-5 {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
}




.anmeldelser{
  position: relative;
  width: 90%;
}


.anmeldelser-container{
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-padding: 1rem;
  scrollbar-width: thin;
}
.anmeldelse-card{
  
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  min-width: 200px;
  img{
    width: 100px;
    max-width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  li{
    list-style: none;
  }
}



.kontakt-oss{
  width: 90%;
}



.footer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
}
.social-media-ikoner{
  display: flex;
  gap: 10px;
  justify-content: center;
  
}
.footer-section{
  margin: 0;
}


@media only screen and (max-width: 700px){
  .footer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    
  }
}
@media only screen and (max-width: 700px){
  .footer-section{
    background-color: rgb(252, 249, 249);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    text-align: center;
}}
/* Ferdi med index.html side*/

/* produkt.html */

.breadcrumb{
  display: flex;
  
  li{
    list-style: none;
  }
 
  a:hover{
    text-decoration: underline;
  }
}



h1{
  text-align: center;
}

.layout-wrapper {
  max-width: 1200px;
  margin: 0 auto; 
  display: flex; 
  gap: 40px; 
  padding: 40px 0;
  align-items: flex-start; 
  justify-content: center;
  width: 80%;
}

/* Galleri seksjon - grid layout */
.gallery-section {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Venstre kolonne for små bilder, høyre for stort bilde */
  grid-template-rows: repeat(3, 1fr); /* Tre rader i venstre kolonne */
  gap: 15px; /* Avstand mellom bildene */
  flex: 1; /* Galleriet tar opp lik plass som produktdetaljene */
  max-width: 550px; /* Sett en maksimal bredde for galleri for balanse */
  height: 600px;
}

.product-item-1,
.product-item-2,
.product-item-3 {
  grid-column: 1; /* Plasserer de små bildene i første kolonne */
  border-radius: 5px;
}

.right-column {
  grid-column: 2;
  grid-row: 1 / 4; 
  border-radius: 5px;
}

/* Produktdetaljer */
.product-property {
  flex: 1; /* Produktdetaljene tar opp like mye plass som galleriet */
  max-width: 450px; 
}
.legge-til-kurven{
  width: 100%;
  margin: 10px 0 !important;
}


.legge-til-kurven i{
  padding: 15px;
  border: 1px solid;
  color: white;
  background-color: #333;
}

.product-property button {
  
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 86%;
  height: 45px;
}

.product-size {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f4f4f6; /* Bakgrunnsfarge for å matche bildet */
  border: 1px solid #ccc;
  border-radius: 5px; /* Runde kanter */
  color: #000;
  cursor: pointer;
}

/* Styling for detaljer-seksjonen */
details {
  margin-top: 10px;
  
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%; /* Strekker seg over hele bredden */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
details ul {
  margin-top: 10px;
  padding-left: 30px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

/* Arrow style */
summary::after {
  content: '+';
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  transition: transform 0.2s;
}

/* Open arrow rotation */
details[open] > summary::after {
  content: '-';
}

/* Article styling */
.product-details {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* størrelse tabellen  */
table {
  width: 100%;
  max-width: 600px; /* Begrens bredden for god lesbarhet */
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f6;
  font-weight: bold;
}


/* .ligende-products{
  position: relative;
  width: 90%;
}


.ligende-products-container{
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-padding: 1rem;
  scrollbar-width: thin;

}
.ligende-products-card{
  
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  
  min-width: 200px;
  width: 300px;
  height: 400px;
  img{
    width: 100px;
    max-width: 150px;
    height: 100px;
    object-fit: cover;
    
  }
  li{
    list-style: none;
  }
} */

aside.ligende-products {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
 
}



section.ligende-products-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-padding: 1rem;
  scrollbar-width: thin;
  
  
}

.ligende-products-card {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li {
    display: flex;
    align-items: center;
  }
  
  
  p.reviews {
    padding: 0;
    
    color: #555;
  }
}

.ligende-products-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ligende-products-card p {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.ligende-products-card p.price {
  font-weight: normal;
  color: #555;
  font-size: 0.9em;
}












/* Responsiv styling */
@media only screen and (max-width: 768px) {
  .layout-wrapper {
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    gap: 20px; 
  }

  .gallery-section {
    max-width: 100%; 
    height: auto; 
  }

  .product-property {
    max-width: 100%;
    padding: 10px; 
    margin-top: 20px; 
    text-align: center;
    width: 100%;
  }

  .product-property h2,
  .product-property a,
  .product-property p,
  .product-property select,
  .product-property button {
    margin-bottom: 15px; /* Reduce spacing slightly for better fit on mobile */
  }
}

/* checkout.html */

/* SHOPPINGEN DIN section */
.shopping-cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  
  border-radius: 5px;
}

.shopping-cart h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.shopping-cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.shopping-cart-img img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.shopping-cart-details {
  flex: 1;
  padding: 0 20px;
}

.shopping-cart-details h2 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.shopping-cart-details p {
  margin: 5px 0;
}

.shopping-cart-details label {
  display: inline-block;
  margin-right: 10px;
}

.shopping-cart-details select,
.product-details input[type="number"] {
  padding: 5px;
  margin-right: 10px;
}

.shopping-cart-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopping-cart-actions button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* DINE OPPLYSNINGER section */
.customer-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid ;
}

.customer-info h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.customer-info label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="email"], input[type="tel"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}

.name-section {
  display: flex;
  gap: 20px;
}

.name-section section {
  flex: 1;
}

.address-section {
  margin-top: 20px;
}

.post-section {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.post-section section {
  flex: 1;
}

.contact-info {
  margin-top: 30px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.buttons a {
  color: blue;
  text-decoration: underline;
  font-size: 1rem;
}
/* Levering section */
.levering-info-section {
  margin-top: 40px;
  padding: 20px;
}

.levering-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}
.levering-info label {
  
  align-items: center;
  cursor: pointer;
  
}


.levering-info p {
  margin: 0 10px 0 5px;
  font-weight: bold;
}
.levering-info span {
  font-weight: bold;
}

.pris-span{
  text-align: right;
  display: block;
  margin-top: -25px;
}
.delivery-description {
  display: block;
  margin-top: 5px;
  color: #555;
  font-size: 0.9em;
  margin-left: 25px;
}

.betaling-info-section {
    margin-top: 40px;
    padding: 20px;
}

.betaling-info-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.betaling-info-section p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #555;
}

.betaling-info {
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.utlopsdato-og-sikkerhet{
  display: flex;
  
}

.input-label-utlopsdato {
    width: 48%;
    margin-right: 4%;
}

.input-label-sikkerhet-kode {
    width: 48%;
}

.betaling-info-section .card-number{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}


.betaling-info-section .total-pris{
    margin: 20px 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: center;
}


.total-price strong {
    font-size: 22px;
    color: #000;
    display: block;
    margin-top: 5px;
}

.betaling-info button {
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    
}

button:hover {
    background-color: #555;
}
.vilkaarende{
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}

.checkbox-label-section{
  display: flex;
  flex-direction: column;
}


