html{
  
  scroll-behavior: smooth;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 3px;
}

/* body */
body{
  
  font-family: Arial, Helvetica, sans-serif;
  
}
/* Header */
.navigasjon{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.navigasjon .nav-menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  a {
    text-decoration: none;
  }

  #logo{
    
    font-size: 1.3em;
    color: #0f0e0e;
    font-weight: bold;
  }
  

}
.navigasjon .nav-iconer{
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
  justify-content: end;
  a {
    text-decoration: none;
    
    font-size: 1em;
  }
}
#nav-search-bar{
  position: relative;
  align-items: start;
  
  i{
   position: absolute;
   right: 10px;
   top: 45%;
   transform: translateY(-50%);
   font-size: 1em;
   color: #321515;
   cursor: pointer;
  }
}

/* main seksjoner */

/* Seksjon 1 Banner*/

.banner{
  display: flex;
  justify-content: center;
  /* min-height: 40vh;  */
  
  
 
    
}

.banner-menu {
  display: flex;
  list-style-type: none;
  overflow-x: auto;
  width: 50%;
  border-radius: 10px;
  scroll-snap-type: x mandatory;
  
}
.banner-item {
  position: relative;
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
}

.banner-menu img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Bildetekst (caption) */
.banner-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  max-width: 70%;
  
}

.banner-caption h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.banner-caption p {
  font-size: 1em;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

/* Knapp */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6347;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover{
    background-color: #ff4500;
  }
}

/* Seksjon 2 */

.product-artikler{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin: 10px;

  p{
    display: flex;
    justify-content: space-between;
    
  }
  img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
  }
 
}
.product-card .rating{
  display: flex;
  align-items: baseline;
  li{
    
    display: flex;
    list-style: none;
  }
}
.beste-produkter-menu li{
  display: inline-flex;
  margin-right: 10px;
  flex-wrap: wrap;
  justify-content: center;
  
  border-radius: 10px;
  margin: 10px;

  a{
    text-decoration: none;
  }
  
}
.beste-produkter-header{
  text-align: center;
  a:hover{
    background-color: #0f0e0e;
    color: white;
    transition: 1s;
    border: 1px solid blue;
    border-radius: 5px solid black; 
  }

}
